*.puml linguist-detectable=true
*.puml linguist-language=PlantUML
*.sql linguist-detectable=true
*.sql linguist-language=SQL
fake_data_generator.sql linguist-language=PLpgSQL
advanced_fake_data_generator.sql linguist-language=PLpgSQL
